<h1>Welcome!</h1>

<p>Dear <%= @user.name %>, </p>

<p>
  We are so excited that you joined us. We hope you find a ton of awesome things on our platform!
</p>

<p>
  All the best, best
  <br>
  The Team
</p>

<p>You received this email because you signed up on map.com. The email address you used was <%= @user.email %>.</p>