<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div id="item-info">
        <img src="#" id="item-image">
        <h5 id="item-name">Name</h5>
        <h5 id="item-description">Description</h5>
        <h5 id="item-location">Location</h5>
        <h5 id="item-created_at">Created</h5>
        <div id="claim-button">
          <h5 id="item-id">Id</h5>
          <h5 id="item-claimed">Claimed</h5>
          <button id="claim-button" class="btn btn-default">Claim!</button>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div id="map-wrapper" style="width: 100%; height: 500px;">
        <div id="map" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
</div>
