/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1#form-heading {
  margin-bottom: 25px;
}

html {
  height: 100%;
}

body {
  /*overflow: hidden;*/
}

body {
  /*height: 100%;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

div#item-wrapper {
  display: none;
}

#map {
  /*height: 80%;*/
  /*width: 80%;*/
}

h5#item-claimed, h5#item-id, h5#item-owner-id {
  display: none;
}

button#claim-button {
  display: none;
}

img#item-image {
  max-height: 35%;
  width: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

div#new-item, div#map-new-item, div#edit-item {
  display: none;
}

div#form-error {
  display: none;
  background-color: red;
}

div#login {
  display: none;
}

.pac-container {
  background-color: white;
}

/* Doesnt work!! */
div#search-address {
  background-color: black;
  padding-top: 20px;
}

.row {
  margin: auto;
}

footer.map {
  background-color: #738994;
  height: 40px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer.landing-page {
    padding: 25px 0;
    text-align: center;
}

footer.landing-page span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer.landing-page ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
